<!DOCTYPE html>
<html lang="en">

    <head>
        <title> Delete Book </title>
    </head>

    <body>
        <h1> Delete Book </h1>
        {% for dict_item in books %}
            {% if id|string in dict_item.values() %}

                <form action="{{url_for('deleteBook', book_id=dict_item['id'])}}" method="POST"> 
                    <button type='submit'> Delete </button>
                    <a href="{{url_for('index')}}"> Cancel </a>
                </form>
                
            {% endif %}
        {% endfor %}
    </body>

</html>