<!DOCTYPE html>
<html lang="en">

    <head>
        <title> Edit Book </title>
    </head>

    <body>
        <h1> Edit Book </h1>
        {% for dict_item in books %}
            {% if id|string in dict_item.values() %}

                <form action="{{url_for('editBook', book_id=dict_item['id'])}}" method="POST"> 
                    <p> Name: </p>
                    <input type="text" value="{{ dict_item.title }}" name='bookName'/>
                    <button type='submit'> Edit </button>
                    <a href="{{url_for('index')}}"> Cancel </a>
                </form>
                
            {% endif %}
        {% endfor %}
    </body>

</html>