<!DOCTYPE html>
<html lang="en">

    <head>
        <title> New Book </title>
    </head>

    <body>
        <h1> New Book </h1>
            <form action="{{url_for('newBook')}}" method="POST"> 
                <p> Name: </p>
                <input type="text" value="" name='bookName'/>
                <button type='submit'> Create </button>
            </form>
    </body>

</html>