<!DOCTYPE html>
<html lang="en">

    <head>
        <title> Show all Books </title>
    </head>

    <body>
        <h1> Books </h1>

        {% for dict_item in dict1 %}
            <p>{{ dict_item['title'] }}</p>
            <a href="{{url_for('editBook', book_id=dict_item['id'])}}"> Edit Books </a>
            <br>
            <a href="{{url_for('deleteBook', book_id=dict_item['id'])}}"> Delete Books </a>
            <br>
        {% endfor %}

    </body>
</html>